<footer>
  <div class="container">
    <h2 class="text-center text-white">EL_SHANZLIZIH</h2>
    <div class="row py-5">
      <div class="col-md-4">
        <h5 class="text-light">Site Links</h5>
        <ul class="list-unstyled">
          <li>
            Home
          </li>
          <li>
            About
          </li>
          <li>
            Services
          </li>
          <li>
            Packeges
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-light">Site Links</h5>
        <ul class="list-unstyled">
          <li>
            Home
          </li>
          <li>
            About
          </li>
          <li>
            Services
          </li>
          <li>
            Packeges
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-light">Site Links</h5>
        <ul class="list-unstyled">
          <li>
            Home
          </li>
          <li>
            About
          </li>
          <li>
            Services
          </li>
          <li>
            Packeges
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <p class="m-0 text-center">Copy Right @ 2023 <span class="text-danger">FE2o0o</span></p>
  </div>
</footer>
