<section class="py-5 my-5">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5">
        <h1 class="fw-bolder custom-color">Join Us Now</h1>
        <p class="lead">
          Hello Beautiful, we have migrated to a new website! If you had an account on our previous website please reset your
          password. If you are new here we would love if you could create a new account so we can have your details and provide a
          faster checkout for you!
        </p>
      </div>
      <div class="col-md-6">
        <div class="buttons p-1 mx-auto rounded-pill shadow d-flex justify-content-evenly mb-3">
          <button routerLink="login" routerLinkActive="bg-custom" class="btn  rounded-pill">Login</button>
          <button routerLink="signup" routerLinkActive="bg-custom" class="btn  rounded-pill">Signup</button>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
