<section id="bannar" class="">
  <div class="container  h-100 d-flex align-items-center">
    <div class="row w-100 align-items-center justify-content-between ">
      <div class="col-md-5">
        <h1 class="text-main mb-4">Take Care Of Your Beauty With The Help of Our Experts </h1>
        <button>Contact Us
          <div class="star-1">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-2">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-3">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-4">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-5">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-6">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
        </button>
      </div>
      <div class="col-md-5 bannar ">
        <img class="" src="assets/bannar1.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="need">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h3>What Do You Need ?</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex delectus dolore sed quisquam, exercitationem nam veritatis possimus dolores minima alias corporis a dicta mollitia minus!
        </p>
        <button>Learn More
          <div class="star-1">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
              style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"></path>
              </g>
            </svg>
          </div>
          <div class="star-2">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
              style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"></path>
              </g>
            </svg>
          </div>
          <div class="star-3">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
              style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"></path>
              </g>
            </svg>
          </div>
          <div class="star-4">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
              style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"></path>
              </g>
            </svg>
          </div>
          <div class="star-5">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
              style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"></path>
              </g>
            </svg>
          </div>
          <div class="star-6">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
              style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <defs></defs>
              <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <path
                  d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  class="fil0"></path>
              </g>
            </svg>
          </div>
        </button>
      </div>
      <div class="col-md-8">
        <div class="carts row align-items-center">
          <div class="cart-item col-md-4  px-2">
            <div class="cart p-4">
              <div class="img   d-flex justify-content-end">
                <img width="100" height="100" src="assets/beauty_salon_textbox_image_1.jpg"  class="rounded-circle" alt="">
              </div>
              <div class="content">
                <h4><span>Beauty</span>Center</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aspernatur, tempora esse vel mollitia omnis explicabo laboriosam iure, praesentium sed quia nulla alias </p>
              </div>
            </div>
          </div>
          <div class="cart-item col-md-4  p-2">
            <div class="cart p-4">
              <div class="img   d-flex justify-content-end">
                <img width="100" height="100" src="assets/beauty_salon_textbox_image_2.jpg"  class="rounded-circle" alt="">
              </div>
              <div class="content">
                <h4><span>Beauty</span>Center</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aspernatur, tempora esse vel mollitia omnis explicabo laboriosam iure, praesentium sed quia nulla alias </p>
              </div>
            </div>
          </div>
          <div class="cart-item col-md-4  p-2">
            <div class="cart p-4">
              <div class="img   d-flex justify-content-end">
                <img width="100" height="100" src="assets/beauty_salon_textbox_image_3.jpg"  class="rounded-circle" alt="">
              </div>
              <div class="content">
                <h4><span>Beauty</span>Center</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aspernatur, tempora esse vel mollitia omnis explicabo laboriosam iure, praesentium sed quia nulla alias </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-center">
  <div class="container">
    <div class="heading py-5">
      <h2>WHY CHOOSE OUR CENTER ?!</h2>
    </div>
    <ul class="center-list list-unstyled">
      <li class="d-flex align-items-center mb-5">
        <i class="fa-solid fa-wand-magic-sparkles fs-1 me-4"></i>
        <div>
          <h4 class="m-0">100% Natural</h4>
          <p class="m-0">Products</p>
        </div>
      </li>
      <li class="d-flex align-items-center mb-5">
        <i class="fa-solid fa-wand-magic-sparkles fs-1 me-4"></i>
        <div>
          <h4 class="m-0">100% Natural</h4>
          <p class="m-0">Products</p>
        </div>
      </li>
      <li class="d-flex align-items-center mb-5">
        <i class="fa-solid fa-wand-magic-sparkles fs-1 me-4"></i>
        <div>
          <h4 class="m-0">100% Natural</h4>
          <p class="m-0">Products</p>
        </div>
      </li>
      <li class="d-flex align-items-center mb-5">
        <i class="fa-solid fa-wand-magic-sparkles fs-1 me-4"></i>
        <div>
          <h4 class="m-0">100% Natural</h4>
          <p class="m-0">Products</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="brands py-5">
  <div class="container py-5">
    <div class="heading text-center">
      <p class="lead">THE HIGH QUALITY PRODUCTS</p>
      <h2>OUR FAVOURITE BRANDS</h2>
      <div class="row">
        <div class="col-md-3">
          <img class="w-100" src="assets/brand1.png" alt="">
        </div>
        <div class="col-md-3">
          <img class="w-100" src="assets/brand2.png" alt="">
        </div>
        <div class="col-md-3">
          <img class="w-100" src="assets/brand3.png" alt="">
        </div>
        <div class="col-md-3">
          <img class="w-100" src="assets/brand4.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="show-services">
  <div class="container">
    <h2 class="text-center mb-5 text-main">SERVICES WE OFFER</h2>
    <div class="row pt-5 justify-content-between">
      <div class="col-md-3 p-0 rounded-4">
        <div class="card-item">
          <div class="image p-1">
            <img class="w-100 rounded-4 rounded-bottom-0" src="assets/Facial.jpg" alt="">
          </div>
          <div class="content p-3">
            <h4>Face Care</h4>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <button>Show More
                <div class="star-1">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-2">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-3">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-4">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-5">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-6">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
              </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0 rounded-4">
        <div class="card-item">
          <div class="image p-1">
            <img class="w-100 rounded-4 rounded-bottom-0" src="assets/Hair-overlay.jpg" alt="">
          </div>
          <div class="content p-3">
            <h4>Face Care</h4>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <button>Show More
                <div class="star-1">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-2">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-3">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-4">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-5">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-6">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
              </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0 rounded-4">
        <div class="card-item">
          <div class="image p-1">
            <img class="w-100 rounded-4 rounded-bottom-0" src="assets/Nail-overlay.jpg" alt="">
          </div>
          <div class="content p-3">
            <h4>Face Care</h4>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <button>Show More
                <div class="star-1">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-2">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-3">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-4">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-5">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
                <div class="star-6">
                  <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                      <path
                        d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                        class="fil0"></path>
                    </g>
                  </svg>
                </div>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


